/*For buttons throughout the document minus buttons in navigation*/
button, .button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: transparent;
  border: 3px solid #20997e;
  color: #20997e;
  transition: background-color 300ms ease-out; }

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #20997e;
  color: #fff; }

/* For buttons within the navigation area */

.top-bar-section ul li > a.button {
  font-size: 1rem;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  margin-top: 23px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #fff;
  color: #20997e;
  border: 3px solid #20997e; }
  
.top-bar-section ul li > form input.button {
font-size: 1rem;
font-family: 'Muli', sans-serif;
font-weight: 300;
margin-top: 23px;
padding-right: 15px;
padding-left: 15px;
background-color: #fff;
color: #20997e;
border: 3px solid #20997e; }
  
.top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
  background-color: #20997e;
  color: #fff; }
  
.top-bar-section ul li > form input.button:hover, .top-bar-section ul li > form input.button:focus {
  background-color: #20997e;
  color: #fff; }  
  
/* To design links within the navigation */

  
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #fff;
  color:#20997e ; }  

    
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #fff;
  color: #20997e;
  text-decoration: underline;
}
  
.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  -moz-box-shadow: 0 5px 5px rgba(24, 23, 23, 0.23);
  box-shadow: 0 5px 5px rgba(24, 23, 23, 0.23); }
  
.tabs dd > a, .tabs .tab-title > a {
  display: block;
  background: #e1d9d2;
  color: #fff;
  padding: 1rem 2rem;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  text-align: center; }


.tabs dd > a:hover, .tabs .tab-title > a:hover {
  background: #c2b7ab; }

.tabs dd.active a, .tabs .tab-title.active a {
  background: #fcf9f8;
  color: #85776B; }
  
.tabs-content > .content.active {
  display: block;
  background: #fcf9f8;
  float: none; }  


/* iPhone 4, 5s, 5c Phone Portrait

============================================= */

@media only screen and (min-width: 18.750em) {

h1{
  color:#fff;
	font: 2.5em 'Muli', sans-serif;
	margin-top: 2.45em;
  margin-bottom: 3.4em;
	text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em; }  
  
h3{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #85776B; }
  
.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 15px;
  line-height: 45px;
  background: #fff;
  color: #85776B;
  font-family: 'Muli', sans-serif;
  font-weight: 300; 
  font-size: 1em ; }
  
  
.top-bar-section li.active:not(.has-form) a:not(.button) {
padding: 0 15px;
line-height: 45px;
color: #20997e;
background: #fff; }  
  
.attention{
  text-align: center;}   

.title{
  font: bold 1.125rem 'Muli', sans-serif;
  color: #20997e;
  text-rendering: optimizeLegibility;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  text-align: center; }  
  
.home{
	background: url('../img/home_phoneport.png') no-repeat left center; }

.outreach{
	background: url('../img/outreach_widephoneport.png') no-repeat top center; }

.about{
	background: url('../img/about_widephoneport.png') no-repeat top center; }

.volunteer{
	background: url('../img/volunteer_widephoneport.png') no-repeat top center; }

.donate{
	background: url('../img/donate_widephoneport.png') no-repeat top center; }

.top-bar {
  overflow: hidden;
  height: 65px;
  line-height: 65px;
  position: relative;
  background: #fff;
  margin-bottom: 0; }
  
.top-bar .name h1 {
  line-height: 65px;
  font-size: 1.0625rem;
  margin: 0; }
    
.top-bar .toggle-topbar.menu-icon {
  top: 35%;
  margin-top: 0px; }

#community{
  position: relative;
  width: 100%;
  height: 65px;}

.size{
  width: 150px;} 
  
 .tabs dd > a, .tabs .tab-title > a {
   display: block;
   background: #e1d9d2;
   color: #fff;
   padding: 1rem 1rem;
   font-family: 'Paytone One', sans-serif;
   font-size: .5rem;
   text-align: center; }
   
.lift
  {
  	margin-top: -47px;}    
}

@media only screen and (min-width: 22.500em) {

h1{
  color:#fff;
	font: 2.5em 'Muli', sans-serif;
	margin-top: 1.45em;
  margin-bottom: 3.4em;
	text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em; }  

.home{
	background: url('../img/home_widephoneport.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_widephoneport.png') no-repeat top center; }

.about{
	background: url('../img/about_widephoneport.png') no-repeat top center; }

.volunteer{
	background: url('../img/volunteer_widephoneport.png') no-repeat top center; }

.donate{
	background: url('../img/donate_widephoneport.png') no-repeat top center; }

.top-bar {
  overflow: hidden;
  height: 65px;
  line-height: 65px;
  position: relative;
  background: #fff;
  margin-bottom: 0; }
  
.top-bar .name h1 {
  line-height: 65px;
  font-size: 1.0625rem;
  margin: 0; }
    
.top-bar .toggle-topbar.menu-icon {
  top: 35%;
  margin-top: 0px; }

#community{
  position: relative;
  width: 100%;
  height: 65px;}
  
 .tabs dd > a, .tabs .tab-title > a {
   display: block;
   background: #e1d9d2;
   color: #fff;
   padding: 1rem 1.34rem;
   font-family: 'Paytone One', sans-serif;
   font-size: .6559rem; }
   
.lift
  {
  	margin-top: -102px;}     
   
}

@media only screen and (min-width: 30.063em) {
h1{
	color:#fff;
	font-family: 'Muli', sans-serif;
	margin-top: 1.55em;
	margin-bottom: 1.55em;
	font-weight: 300;
	text-align: center;
	word-spacing: .25em;
	letter-spacing: .11256em;}

	
.home{
	background: url('../img/home_phoneland.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_phoneland.png') no-repeat left top; }

.about{
	background: url('../img/about_phoneland.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_phoneland.png') no-repeat left top; }

.donate{
	background: url('../img/donate_phoneland.png') no-repeat left top; }

.tabs dd > a, .tabs .tab-title > a {
  display: block;
  background: #e1d9d2;
  color: #fff;
  padding: 1rem .8rem;
  font-family: 'Paytone One', sans-serif;
  font-size: .6rem; }
  
.lift
  {
  	margin-top: -48px;}  
  
}   



/* Phone Landscape */ 

@media only screen and (min-width: 37.500em) {
h1{
	color:#fff;
	font-family: 'Muli', sans-serif;
	margin-top: 1.55em;
	margin-bottom: 1.55em;
	font-weight: 300;
	text-align: center;
	word-spacing: .25em;
	letter-spacing: .11256em;}

	
.home{
	background: url('../img/home_phoneland.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_phoneland.png') no-repeat left top; }

.about{
	background: url('../img/about_phoneland.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_phoneland.png') no-repeat left top; }

.donate{
	background: url('../img/donate_phoneland.png') no-repeat left top; }

.tabs dd > a, .tabs .tab-title > a {
  display: block;
  background: #e1d9d2;
  color: #fff;
  padding: 1rem 3.7rem;
  font-family: 'Paytone One', sans-serif;
  font-size: .6559rem; }
  
.lift
  {
  	margin-top: -48px;}  
  
}   


/* Tablet Portrait */
    
@media only screen and (min-width: 40.063em) {

.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 15px;
  line-height: 99px;
  background: #fff;
  color: #85776B;
  font-family: 'Muli', sans-serif;
  font-weight: 300; 
  font-size: 1em ; }
  
.top-bar-section li.active:not(.has-form) a:not(.button) {
  padding: 0 15px;
  line-height: 99px;
  color: #20997e;
  background: #fff; }  

h1 {
  color:#fff;
  font-family: 'Muli', sans-serif;
  margin-top: 1.45em;
  margin-bottom: 1.45em;
  font-weight: 300;
  text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em;
  font-size: 3em; }


h3{
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	color: #85776B; }
	
.attention{
	text-align: left; }
	
.title{
  font-size: 1.125rem;
  font-family: 'Muli', sans-serif;
  color: #20997e;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-top: -5px;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  text-align: left; }

.size {
  width: 150px;
    }

.home{
	background: url('../img/home_ipadport.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_ipadport.png') no-repeat left top; }

.about{
	background: url('../img/about_ipadport.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_ipadport.png') no-repeat left top; }

.donate{
	background: url('../img/donate_ipadport.png') no-repeat left top; }

.lift {
	margin-top: -57px;} 

.top-bar {
  overflow: hidden;
  height: 99px;
  line-height: 99px;
  position: relative;
  background: #fff;
  margin-bottom: 0; }
  
.top-bar .name h1 {
  line-height: 99px;
  font-size: 1.0625rem;
  margin: 0; }

#community{
  position: relative;
  width: 100%;
  height: 99px; }
  
.tabs dd > a, .tabs .tab-title > a {
  display: block;
  background: #e1d9d2;
  color: #fff;
  padding: 1rem 2rem;
  font-family: 'Paytone One', sans-serif;
  font-size: 1rem; }  
  
}

/* Tablet Landscape */

@media only screen and (min-width: 48.063em) {

h1{
  color:#fff;
  font-family: 'Muli', sans-serif;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 300;
  text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em;
  font-size: 4em; }

 	 
.home{
	background: url('../img/home_ipadland.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_ipadland.png') no-repeat left top; }

.about{
	background: url('../img/about_ipadland.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_ipadland.png') no-repeat left top; }

.donate{
	background: url('../img/donate_ipadland.png') no-repeat left top; }

.size {
  width: 250px;
    }
    
.lift {
	margin-top: -76px;} 

.space {
	width: 100%;
	height: 0px; }
	
.tabs dd > a, .tabs .tab-title > a {
  display: block;
  background: #e1d9d2;
  color: #fff;
  padding: 1rem 2rem;
  font-family: 'Paytone One', sans-serif;
  font-size: 1rem; }
  
}

/* Desktop Computers */

@media only screen and (min-width: 64.063em) {
h1{
	color:#fff;
	font-family: 'Muli', sans-serif;
	font-weight: Normal;
	margin-top: 1.6em;
	margin-bottom: 2.2em;
	font-size: 4em;
	text-align: center;
	word-spacing: .25em;
	letter-spacing: .11256em; }


.home{
	background: url('../img/home_laptop.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_laptop.png') no-repeat left top; }

.about{
	background: url('../img/about_laptop.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_laptop.png') no-repeat left top; }

.donate{
	background: url('../img/donate_laptop.png') no-repeat left top; }

.lift{
	margin-top: -76px;}
	
.space{
	width: 100%;
	height: 0px; }
	
}


/* Large Desktop Computers */
	
@media only screen and (min-width: 90.063em){

.home{
	background: url('../img/home_cinema.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_cinema.png') no-repeat left top; }

.about{
	background: url('../img/about_cinema.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_cinema.png') left top no-repeat; }

.donate{
	background: url('../img/donate_cinema.png') no-repeat left top; }

}
	
/* end of media queries */	

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 30px 0 30px 0;
	color: #85776B;
	letter-spacing: 1px;
}

h3, h4{
	margin-top: -8px ;	
}

h4{
	font-family: 'Muli', sans-serif;
	color: #20997e; }

.hero row p {
	text-align: center;}

.parallex {
	position: relative;
	width: 100%;
	height:auto;
	z-index: 0; }
	
.action {
	position:relative;
	width: 100%;
	height:auto;
	z-index: 0;
	background: #fcf9f8; }	

.sink {
	margin-top: 45px; }

.footer {
	height: 99px;
	width: 100%;
	position: relative;
	background: #e1d9d2;
	overflow: hidden; }

.footer p {
	color: #857768;
	line-height: 99px; }

p {
	color: #85776B;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
	text-rendering: optimizeLegibility; }
	
label{
	color: #857768;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
	text-rendering: optimizeLegibility;}	 
	
.hero{
	text-align: center; }
	
hr {
    border: solid #85776B;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 0 3rem;
    height: 0px; }
  
input[placeholder]{
  color: #857768;
  font-family: 'Open Sans', sans-serif;	}
	
   
