dl.tabs{
	width: 100%;
	display: -moz-flex;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content: center;
}

dd{
	-webkit-flex-grow: 1;
}