li {
    list-style: none;
    display: inline-block;
}

header hr { margin-top: 0; }

.icon-bar a.active {
	background-color: #008cba;
}

.login-right {
    float: right;
    margin: 1em 0 0 0;
}

.key-value-pair label {
    display: inline-block;
}

.key-value-pair label:nth-child(1) {
    font-weight: bold;
}

.applications .status {
    font-weight: bold;
    margin-top: 7px;
}